.widget {
  width: 169px;
  height: 80px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #6c8cff;
}

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
